

.btn{
    border: 0px;
    background: none;
    margin-left: 10px;
}

.btn1{
    width: 30px;
}

.box{
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    background-color: orangered;
}